./vs/*
./packages/*
XamarinMarketPlace/XamarinMarketPlace/bin/*
XamarinMarketPlace/XamarinMarketPlace/obj/*
XamarinMarketPlace/XamarinMarketPlace.Android/bin/*
XamarinMarketPlace/XamarinMarketPlace.Android/obj/*
XamarinMarketPlace/XamarinMarketPlace.iOS/bin/*
XamarinMarketPlace/XamarinMarketPlace.iOS/obj/*
XamarinMarketPlace/XamarinMarketPlace.UWP/bin/*
XamarinMarketPlace/XamarinMarketPlace.UWP/obj/*
